ion-tab-bar {
    height: 100px;
    --background: transparent;
    --ion-color-base: transparent !important;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 0px solid transparent;
    display: flex;
    justify-content: space-between;
}

.button-tab{
    width: 33%;
    transition: 1s;
    height: 100px;
    margin-top: 20px;
}
.button-tab-1{
    position: absolute;
    bottom: 0;
}
.button-tab-2{
    position: absolute;
    bottom: 0;
    left: 33%;
}
.button-tab-3{
    position: absolute;
    bottom: 0;
    left: 66%;
}
.tab-active{
    font-size: 15pt;
}
.circle{
    position: absolute;
    background: #fff;
    background-color: #fff;   
    width: 60px;
    height: 60px;
    bottom: 45px;
    margin: auto;
    border-radius: 50%;
    transition: ease .5s;
}
.circle::before{
    content: ' ';
    width: 70%;
    height: 70%;
    background: rgb(140,104,245);
    background: linear-gradient(0deg, rgba(140,104,245,1) 0%, rgba(41,193,225,1) 100%);
    position: absolute;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}


.tab-bar{
    width: 100vw;
    height: 80px;
    background-color: #fff;
}


.circle-tab-1-1{
    left:calc(16.5vw - 30px);
    animation-duration: 1s;
}
.circle-tab-1-2{
    left:calc(49.5vw - 30px);
    animation-duration: 1s;
}
.circle-tab-1-3{
    left:calc(82.5vw - 30px);
    animation-duration: 1s;
}
.label-tab{
    opacity: 0;
    margin-top: 55px;
    font-size: 10pt;
    height: 100px;
    transition:  .5s;
}

.label-tab-active{
    opacity: 1;
    margin-top: 55px;
    font-size: 10pt;
    font-weight: 500;
    color: #000;
}
.text-margin-2{
    margin-left: -6px;
}
.text-margin-3{
    margin-left: -8px;
}

.icon-tab{
    margin-top: 15px;
    margin-bottom: 30px;   
    font-size: 20pt;
    transition: ease .5s;
}

.icon-hidden{
    opacity: 0;
    position: absolute;
}



.icon-tab-active{
    margin-bottom: 100px; 
    color: #fff; 
    font-size: 15pt;
}

.div-tab-button-1{
    width: 33vw; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    height: 65px; 
    background-color: transparent; 
    border: solid 0px red; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.div-tab-button-2{
    width: 33vw; 
    position: absolute; 
    left: 33vw; 
    bottom: 0; 
    height: 65px; 
    background-color: transparent; 
    border: solid 0px red; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.div-tab-button-3{
    width: 33vw; 
    position: absolute; 
    left: 66vw; 
    bottom: 0; 
    height: 65px; 
    background-color: transparent; 
    border: solid 0px red; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.header-hidden{
    display: none;
    visibility: hidden;
}


