<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   
  <app-list-detail-date
    *ngFor="let item of items, let i = index"
    [disabled]="i === stateItem['0']['id']"
    (click)="changeStateItem(i)"
    magnitudVariable="{{magnitudVariable}}"
    unidadesVariable="{{unidadesVariable}}"
    diaFechaToma="{{diaFechaToma}}"
    mesFechaToma="{{mesFechaToma}}"
    hourFechaToma="{{hourFechaToma}}"
    icono="person"
  ></app-list-detail-date>
</ion-content>
